<div class="h-screen border-r relative bg-white">
  <div>
      <div class="flex items-center justify-between px-6 py-3">
          <Brand />
          <AddConnector />
      </div>
      <div class="px-6 py-3">
          <div class="mb-3">
              <SearchBar [text]="searchText" (textChange)="onSearch($event)" />
          </div>
          <ConnectorFilter (onChangeFilter)="onChangeFilter($event)" />
      </div>
      <div
          class="overflow-y-auto"
          style="height: calc( 100vh - 256px )"
      >
          <ChatContactList [chatContacts]="filteredBySearchChatContacts" />
      </div>
  </div>
  <MainSettings
      [openStatus]="isMainSettingsOpen"
      (onCloseMainSettings)="onCloseMainSettings()"
  />
  <OwnerPanel (onOpenMainSettings)="onOpenMainSettings()" />
</div>
