<div class="flex items-end relative h-full">
  <button (click)="loadMessages()">load more</button>
  <div
    *ngIf="messages.length; else emptyMsg"
    class="flex grow flex-col-reverse gap-4 overflow-y-auto p-4 max-h-full"
  >
    <Message
      *ngFor="let message of messages"
      [isSelf]="message.senderID === myId"
      [msg]="message"
    />
  </div>
</div>

<ng-template #emptyMsg>
  <div class="h-full w-full bg- flex justify-center items-center">
    <p class="text-gray-300 text-xl font-semibold">No messages yet</p>
  </div>
</ng-template>
