<div class="flex flex-col gap-2 mb-4">
  <div class="bg-gray-50 rounded-lg flex gap-2 p-1">
    <input
      type="text"
      class="w-full bg-transparent focus:ring-transparent px-4 py-2"
      placeholder="Username"
      [(ngModel)]="username"
    />
    <button (click)="search()" class="p-2 text-gray-400 hover:text-gray-700">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
    </button>
  </div>
</div>
<ng-container *ngIf="isSearched">
  <ConnectorCard
  *ngIf="!!foundProfile; else notFound"
  [info]="foundProfile"
  (addAction)="addConnector($event)"
/>
</ng-container>

<ng-template #notFound><p>User not found</p></ng-template>
