<div
  class="flex gap-3"
  [ngClass]="isSelf ? 'self-end ms-20' : 'self-start me-20'"
>
  <div
    *ngIf="isSelf; else timePanel"
    class="w-10 h-10 bg-gray-200 rounded-full grow-0 shrink-0"
  ></div>
  <div
    *ngIf="msg.content.type === MessageType.TEXT; else imageMsg"
    class="bg-gray-200 px-4 py-2 rounded-lg max-w-md flex"
  >
    {{ msg.content.data }}
  </div>
  <ng-container *ngIf="isSelf">
    <!-- timePanel(msg.timestamp) -->
  </ng-container>
</div>

<ng-template #imageMsg>
  <div class="rounded-lg overflow-hidden">
    <img [src]="msg.content.data" class="w-72" />
  </div>
</ng-template>

<ng-template #timePanel>
  <!-- timePanel(msg.timestamp) -->
</ng-template>
